h1{
    size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;

}
#listacores{
    background-color: orangered;
}
.plstyle{
    background-color: plum;

}
p{
    font-family: fantasy;
    font-weight: 600;
    font-size: 3em;
}
body{
    font-size: 16px;
    font-family: serif;
}
